/* APP STYLING */
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAV STYLING */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;

  #nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  button, a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}


/* HERO STYLING */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  border-radius: 32px;
  padding: 4rem;
}


/* SERVICES STYLING */
#services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;

  #services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }

  #service-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 32px;
    width: 30%;
    min-height: 300px;
  }
}


/* PHYSICIANS STYLING */
#physicians {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;
}


/* CONTACT STYLING */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;
}

/* MISC COMPONENTS & STYLING */
#scroll-to-top {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;

  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
}

#scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);

  &:hover {
    transform: translateX(-50%) scale(1.1);
  }
}


button:hover, a:hover {
  cursor: pointer;
}
