/* APP STYLING */
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAV STYLING */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;

  #nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  button, a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}


/* HERO STYLING */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  border-radius: 32px;
  padding: 4rem;
}


/* SERVICES STYLING */
#services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;
}


/* PHYSICIANS STYLING */
#physicians {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;
}


/* CONTACT STYLING */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 4rem;
}

/* MISC COMPONENTS & STYLING */
#scroll-to-top {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  &:hover {
    transform: translateX(-50%) scale(1.1);
  }
}

button:hover, a:hover {
  cursor: pointer;
}
